---
import MicroNewsCard from '@/components/ui/MicroNewsCard.astro';
import Button from '@/components/ui/button/button.svelte';

const allPosts = Object.values(import.meta.glob('../pages/news/*.md', { eager: true }));
allPosts.sort((a: any, b: any) => new Date(b.frontmatter.lastUpdated).getTime() - new Date(a.frontmatter.lastUpdated).getTime());
const top3 = allPosts.slice(0, 3);
---
<div class="bg-slate-300 p-4">
    <h1 class="font-display text-4xl font-bold text-center my-4">Latest Updates</h1>
    <div class="grid sm:grid-cols-1 sm:grid-rows-3 md:grid-cols-3 gap-4 w-[100%] p-8 max-w-[1200px] m-auto">
        {top3.map((post: any) => 
            <MicroNewsCard
                image={post.frontmatter.image.url}
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                lastUpdated={post.frontmatter.lastUpdated}
                href={post.url}
                linkText="Read More...">
            </MicroNewsCard>
        )}
    </div>
    <Button variant="outline" class="m-auto justify-center text-black" href="/news">View All News</Button>
</div>
